{% extends 'base.html' %}

{% block titlecontent %}Camp Leader Application - 2013{% endblock %}

{% block main %}
    <h1>CSESoc Camp - Leader Application Form</h1>
    <div class="well">
        <ul>
            <li>There will be a CSE Camp at the end of Week 3 (16th - 18th March).    Location : <a href="http://www.campwombaroo.org.au">Wombaroo</a></li>
            <li>Camp Leaders must pay for their own tickets.</li>
            <li>All candidates must be able to attend a <strong>compulsory</strong> training session (Date and Location TBA).</li>
            <li>Applications close <strong>8th January at 11:59pm</strong>.</li>
        </ul>

        {% spaceless %}
        <form action="/camp/apply/" method="post">
            {% csrf_token %}
            {{ form.as_p }}
                <input type="submit" class="btn" value="Submit Application" />
        </form>
    </div>
{% endspaceless %}{% endblock %}
