{% extends 'base.html' %}
{% block titlecontent %}CSESoc First Year Camp 2014 - Music{% endblock %}
{% block allcontent %}
    <h1>First Year Camp Music</h1>
    <p>What's this you hear about? A dance party? In CSE? Don't be ridiculous!</p>
    <p>Part of the experience of First Year Camp is to do things you've never done before.
        But let's be honest, no one wants to sit around and listen to Nikki Minaj's next gargle
        of noise about star ships flying all night. Instead, why not suggest some songs you'd like us to
        play at the dance party on Saturday night!
    </p>
    <p>
        You can also up vote and down vote songs that you don't like (although use this power with great caution).
        A team of highly trained monkeys will know if somebody has upvoted more times than they should be able to.
        Now young Skywalker, go forth and use your newly found powers.
    </p>
    <a class="btn btn-large class" href="http://forte.csesoc.com.au/playlists/pcypd6Tv">Click here to submit music</a>
{% endblock %}
