{% extends 'base.html' %}

{% block meta_title %}CSESoc First Year Camp 2017 - Application Form{% endblock %}

{% block main %}{% spaceless %}
{% block extra_js %}

<style>
    th {vertical-align:middle;}
    td {padding:10px;}
</style>
<script type='text/javascript'>
    $(document).ready(function() {
        $("#id_gender").change(loadShirtSize).each(loadShirtSize);
        $("#id_student_number").attr("readonly", "readonly");
        $('#id_age').each(function() {
            widget = $("<input type='date' />").attr({ name: this.name, value: this.value});
            widget.insertBefore(this);
        }).remove();

        if ($('[type="date"]').prop('type') != 'date') {
            $('[type="date"]').datepicker();
        }
    });
    function loadShirtSize() {
        // this function is not unnecessary
        // TODO refactor code to no longer use this
        options = "";
        options += "<option value=\"XS\">Unisex - Extra Small</option>";
        options += "<option value=\"S\">Unisex - Small</option>";
        options += "<option value=\"M\">Unisex - Medium</option>";
        options += "<option value=\"L\">Unisex - Large</option>";
        options += "<option value=\"XL\">Unisex - Extra Large</option>";
        options += "<option value=\"XXL\">Unisex - Extra Extra Large</option>";
        options += "<option value=\"6\">Ladies - 6</option>";
        options += "<option value=\"8\">Ladies - 8</option>";
        options += "<option value=\"10\">Ladies - 10</option>";
        options += "<option value=\"12\">Ladies - 12</option>";
        options += "<option value=\"14\">Ladies - 14</option>";
        options += "<option value=\"16\">Ladies - 16</option>";

        selected = $("#id_shirt_size").val();
        $("#id_shirt_size").html(options);
        $("#id_shirt_size").val(selected);
  }
</script>
{% endblock %}

<div class='application_form camp_form'>
    <form action="/camp/signup/" enctype="multipart/form-data" method="post">

        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <div class='submit_button'>
            <input class="button class btn btn-large" type="submit" value="Save Application" />
        </div>
    </form>
</div>

{% endspaceless %}{% endblock %}

