{% extends "base.html" %}
{% block meta_title %}CSESoc First Year Camp 2015 - Thanks!{% endblock %}
{% block extraheadercontent %}
    <meta http-equiv="refresh" content="5;{% url "app.camp.campattendees.views.signup" %}" />
{% endblock %}
{% block main %}
    <h1>Thanks!</h1>
    <p>Thanks for signing up, you'll hear from us soon! Remember to check your Zmail regularly!</p>
    <p>If you think you've made a mistake in your application, feel free to edit it at any time.</p>
    <p>Meanwhile, don't forget to pay for your ticket if you want to secure your spot! Payment can be made in person (cash only) at a CSESoc BBQ or to a CSESoc Executive in the Socs Office (K17 Room B03), or you can pay now through Direct Deposit or Paypal.</p>
    <h3>
    {% if arc %}
        {% if early_bird %}
            <a href="https://www.csesoc.unsw.edu.au/finance/20170001/d5a547e7038e79820c75fd8dea102c42">Click here</a>
        {% else %}
            <a href="://www.csesoc.unsw.edu.au/finance/20170002/eb0f36e1cbb9efd74694bd7d948b90f4">Click here</a>
        {% endif %}
    {% else %}
        {% if early_bird %}
            <a href="https://www.csesoc.unsw.edu.au/finance/20170003/1b6b13223881528bd298991661b5dfaf">Click here</a>
        {% else %}
            <a href="https://www.csesoc.unsw.edu.au/finance/20170004/60effef889c36d1451441a21a2cfce1a">Click here</a>
        {% endif %}
    {% endif %}
    for payment invoice details.</h3>
    <p><a href="{% url "app.camp.campattendees.views.signup" %}">Return to form</a></p>
{% endblock %}
