{% extends "base.html" %}
{% block meta_title %}CSESoc First Year Camp 2015 - Thanks!{% endblock %}
{% block extraheadercontent %}
    <meta http-equiv="refresh" content="5;{% url "app.camp.campattendees.views.signup" %}" />
{% endblock %}
{% block main %}
    <h1>Thanks!</h1>
    <p>Thanks for signing up, you'll hear from us soon!</p>
    <p>If you think you've made a mistake in your application, feel free to edit it at any time.</p>
    <p>Meanwhile, don't forget to pay your deposit if you want to secure your spot! Deposits can be made in person (cash only) at a CSESoc BBQ or to a CSESoc Executive in the Socs Office (K17 Room 306).</p>
    <p>Alternatively, you may pay the full amount by DD or Paypal.</p>
    <h3>
    {% if arc %}
        {% if early_bird %}
            {% if deposit %}
                <a href="https://www.csesoc.unsw.edu.au/finance/20150006/4fc49a76bb6a3b745e61271e36fc19e7">Click here</a>
            {% else %}
                <a href="https://www.csesoc.unsw.edu.au/finance/20150001/a506a1df7e4d86471de3dd26316e501a">Click here</a>
            {% endif %}
        {% else %}
            {% if deposit %}
                <a href="https://www.csesoc.unsw.edu.au/finance/20150008/5c8aa71d402d522e188b97869135f1e3">Click here</a>
            {% else %}
                <a href="https://www.csesoc.unsw.edu.au/finance/20150004/12611c561c3672191fec061c59cec07a">Click here</a>
            {% endif %}
        {% endif %}
    {% else %}
        {% if early_bird %}
            {% if deposit %}
                <a href="https://www.csesoc.unsw.edu.au/finance/20150007/f7b2cb4e040b5fe932e2c4a9948d545d">Click here</a>
            {% else %}
                <a href="https://www.csesoc.unsw.edu.au/finance/20150003/b3a0de72eb99faf4c37f1e87dcf49ca8">Click here</a>
            {% endif %}
        {% else %}
            {% if deposit %}
                <a href="https://www.csesoc.unsw.edu.au/finance/20150009/162c0e0eea542ad859feae84c241ca71">Click here</a>
            {% else %}
                <a href="https://www.csesoc.unsw.edu.au/finance/20150005/fc2bc8c6ec2bd48a372ee96bb03b19d1">Click here</a>
            {% endif %}
        {% endif %}
    {% endif %}
    for payment invoice details.</h3>
    <p><a href="{% url "app.camp.campattendees.views.signup" %}">Return to form</a></p>
{% endblock %}
