{% load i18n future pages_tags %}
{% spaceless %}
{% if page_branch_in_menu %}
    
    {% if branch_level == 0 %}
    <ul class="nav-dropdown ham-menu">
            {% for page in page_branch %}
            {% if not has_home and page.is_primary and forloop.first and 0 %}
            <li class="ham-small-only">
                <a href="{% url "home" %}" class="menu-link">
                    <span class="menu-item">{% trans "Home" %}</span>
                </a>
            </li>
            {% endif %}
            {% if page.in_menu %}
            <li>
                <a href="{{ page.get_absolute_url }}" class="menu-link">
                    <span class="menu-item">{{ page.title }}</span>
                </a>

                 {% if page.has_children_in_menu %}
                 <span class="caret-container"><span class="caret"></span></span>
                 {% page_menu page %}
                 {% endif %}
            </li>
            {% endif %}
            {% endfor %}
            <li class="ham-social-links-li">
                <div class="clearfix social-links ham-social-links">
                    <div style="float: left;">
                        <a href="https://www.facebook.com/csesoc">
                            <div class="facebook social-link ham-social-link">
                                <div class="social-wrapper">
                                    <img alt="Facebook Logo" src="/static/img/fbook.png" class="social-badge-fb">
                                    <div class="clearfix">Facebook</div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div style="float: right;">
                        <a href="https://orgsync.com/81145/chapter">
                            <div class="google social-link ham-social-link">
                                <div class="social-wrapper">
                                    <div class="clearfix">OrgSync</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    {% endif %}

{% if branch_level == 1 %}
<ul class="ham-submenu">
{% for page in page_branch %}
    {% if page.in_menu %}
    <li><a href="{{ page.get_absolute_url }}">{{ page.title }}</a></li>
        {% endif %}
    {% endfor %}
                </ul>
{% endif %}
{% endif %}


{% endspaceless %}