Django==1.6.1
Markdown==2.3.1
Mezzanine==3.0.5
Pillow==2.3.0
bleach==1.4
filebrowser-safe==0.3.1
grappelli-safe==0.3.4
html5lib==0.999
image==1.2
mezzanine-pagedown==0.6
oauthlib==0.6.0
python-ldap==2.4.14
pytz==2013.9
requests==2.2.0
requests-oauthlib==0.4.0
six==1.5.2
wsgiref==0.1.2
google-api-python-client==1.1
BeautifulSoup