{% extends 'base.html' %}

{% block meta_title %}Teams{% endblock %}

{% block extra_head %}
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>

    <script>
        String.prototype.capitalize = function() {
            return this.replace(/(?:^|\s)\S/g, function(a) { return a.toUpperCase(); });
        };
        $(document).ready( function () {
            $('button.team-btn').click( function () {
                button = $(this);
                action = button.attr('verb'); // this is "join" or "leave"
                team = button.attr('id'); // e.g. "Dev" or "HS Team"

                $.ajax({
                    url: '/' + action + '/' + team,
                    type: 'get',
                    dataType: 'html',
                    async: false,
                    success: function(data) {
                        if ($('.'+action+team).length) {
                            $('.'+action+team).remove();
                        }

                        {% comment %}
                           (Rafi Blecher) sorry for the icky selectors. It's the easiest way to deal with
                           the possibility of having spaces in team name (used as ID), like "HS Team"
                        {% endcomment %}
                        if (data.substring(0, 7) == 'success') {
                            $('<div data-alert class="alert-box success radius ' + action+team + '">Success!</div>').appendTo("#alerts");
                            // Successfully joined or left a team. Hence, toggle the button.
                            button.toggleClass('btn-warning').toggleClass('btn-success');
                            if (button.attr('verb') == 'join') {
                                button.attr('verb', 'leave');
                            } else {
                                button.attr('verb', 'join');
                            }
                            button.text(button.attr('verb').capitalize() + ' ' + team);
                        } else {
                            $('<div data-alert class="alert-box warning radius ' + action+team + '">Error!</div>').appendTo("#alerts");
                        }

                        {% comment %}
                          Sneakily enough, this *doesn't* fade out errors, because the class doesn't match. I'd call this a good thing,
                          but if you don't like it, we'll have to find some other way to handle this situation.
                        {% endcomment %}
                        $("[class='" + action+team + "']").fadeOut(3000);
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block main %}
    <div id='content'>
        <div class='news-card'>
            <h1>Teams</h1>
            {% for team in teams %}
                {% comment %}
                    team.0 is team name
                    team.1 is team description
                    team.2 is whether the user is subscribed to the team
                    Django templating engine is shit. It's not my fault!
                {% endcomment %}
                <div class='team'>
                    <div class='team-description'>
                        <a href='/teams/{{ team.0 }}'>{{ team.0 }} Team</a><br />
                        {{ team.1 }}
                    </div>
                    <div class='visible-xs'><br /></div>
                    <div class='team-button'>
                        <button type='button' id='{{ team.0 }}' verb='{% if team.2 %}leave{% else %}join{% endif %}' class='team-btn btn {% if team.2 %}btn-warning{% else %}btn-success{% endif %}'>{% if team.2 %}Leave{% else %}Join{% endif %} {{ team.0 }}</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div> <!-- #content -->
{% endblock %}

{% block footer_scripts %}

    <!-- SCRIPTS -->

    <script src='/static/csesoc/js/vendor/jquery.js'></script>
    <script src='/static/csesoc/js/foundation.min.js'></script>

    <script src='/static/csesoc/js/header.js' ></script>
    <script src='/static/csesoc/js/jquery.dropdown.js'></script>

    <script>
        $(document).foundation();
    </script>
{% endblock %}
