{% extends 'base.html' %}

{% block meta_title %}Teams{% endblock %}

{% block extra_head %}
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>

    <script>
        $(document).ready( function () {
            $('button.team-btn').click( function () {
                alert($(this).attr('verb') + ' ' + $(this).attr('id') );
            });
        });
    </script>
{% endblock %}

{% block main %}
    <div id='content'>
        <h1>Teams</h1>
        {% for team in teams %}
            {% comment %}
                team.0 is team name
                team.1 is team description
                team.2 is whether the user is subscribed to the team
                Django templating engine is shit. It's not my fault!
            {% endcomment %}
            <div class='team'>
                <div class='team-button'>
                    <button type='button' id='{{ team.0 }}' verb='{% if team.2 %}leave{% else %}join{% endif %}' class='team-btn btn {% if team.2 %}btn-warning{% else %}btn-success{% endif %}'>{% if team.2 %}Leave{% else %}Join{% endif %} {{ team.0 }}</button>
                </div>
                <div class='team-description'>
                    {{ team.1 | safe }}
                </div>
            </div>
        {% endfor %}
    </div> <!-- #content -->
{% endblock %}

{% block footer_scripts %}

    <!-- SCRIPTS -->

    <script src='/static/csesoc/js/vendor/jquery.js'></script>
    <script src='/static/csesoc/js/foundation.min.js'></script>

    <script src='/static/csesoc/js/header.js' ></script>
    <script src='/static/csesoc/js/jquery.dropdown.js'></script>

    <script>
        $(document).foundation();
    </script>
{% endblock %}
