{% extends 'base-no-sponsors.html' %}
{% block meta_title %}Our Sponsors{% endblock %}

{% block main %}
<div class="card">
    <h1>Our Sponsors</h1>
    <table class="table table-bordered table-striped table-sponsors">
        <tbody>
            {% for sponsor in sponsors %}
                <tr>
                    <td class="image">
                        <a href="{{ sponsor.website }}"><img src="{{ sponsor.logo.url }}" alt="{{ sponsor.name|safe }}"
                        {% if sponsor.alt_text %} title="{{ sponsor.alt_text }}"
                        {% else %} {{ sponsor.name }} title="{{ sponsor.name }}"
                        {% endif %}/></a>
                    </td>
                    <td>
                        <strong><a href="{{ sponsor.website }}" class="sponsorName">{{ sponsor.name }}</a></strong><br>{{ sponsor.description|safe }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

