<!doctype html>
<html class="photo" lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load pages_tags mezzanine_tags i18n future staticfiles blog_tags %}

<head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
    <meta name="description" content="{% block meta_description %}{% endblock %}">

    <title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} | {{ settings.SITE_TITLE }}{% endif %}</title>

    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}">

    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>

    {% ifinstalled mezzanine.blog %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url "blog_post_feed" "rss" %}">
    <link rel="alternate" type="application/atom+xml" title="Atom" href="{% url "blog_post_feed" "atom" %}">
    {% endifinstalled %}

    {% compress css %}
        <link rel="stylesheet" href="{% static "css/mezzanine.css" %}">
        <link rel="stylesheet" href="{% static "css/normalize.css" %}">
        <link rel="stylesheet" href="{% static "css/foundation.css" %}">
        <link rel='stylesheet' href="{% static "css/csesoc.css" %}">

        {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" href="{% static "css/rtl.css" %}">
        {% endif %}
        {% ifinstalled cartridge.shop %}
            <link rel="stylesheet" href="{% static "css/cartridge.css" %}">
            {% if LANGUAGE_BIDI %}
            <link rel="stylesheet" href="{% static "css/cartridge.rtl.css" %}">
            {% endif %}
        {% endifinstalled %}
        {% block extra_css %}{% endblock %}
    {% endcompress %}

    {% compress js %}
        <script src="{% static "mezzanine/js/"|add:settings.JQUERY_FILENAME %}"></script>
        <script src='{% static 'js/vendor/custom.modernizr.js' %}'></script>
        <script src="{% static "js/modernizr.js" %}"></script>
        {% block extra_js %}{% endblock %}
    {% endcompress %}
    {% include "includes/header_scripts.html" %}
    <!--[if lt IE 9]>
    <script src="{% static "js/html5shiv.js" %}"></script>
    <script src="{% static "js/respond.min.js" %}"></script>
    <![endif]-->

    {% block extra_head %}{% endblock %}
</head>

<body id="{% block body_id %}body{% endblock %}">
    <div class="wrapper">
    <!-- HEADER -->
    <div style="position: relative;" class="show-for-medium-up">
        <a href="/"><div class="title-link"></div></a>
    </div>

    <div class='feature photo show-for-medium-up row'>
        <div id='subtitle' class="medium-11">
            UNSW Computer Science and Engineering Society
        </div>
        <div class='welcome-user-item medium-1'>
            {% if user.is_active %}
            <span class="user-label" >Signed in as {{user.first_name}} {{user.last_name}}.</span> <span><a href='/zlogout'>Logout</a></span>
            {% else %}
            <span class="user-label">Not signed in.</span> <span><a href='/zlogin'>Login</a></span>
            {% endif %}
        </div>
    </div>

    <a href='/'>
        <div id='title'>
            <h1 id='page-heading'>CSESoc</h1>
        </div>
    </a>

    <div id="navbar">
    <div id="scroller-anchor"></div>
    <div class="scroller photo">
        <div id="navigation">
            <div class="nav-large hide-for-small-only">
                <div id="nav-wrapper">
                    <img class="navbar-logo" src="{% static "img/logo-navbar.png" %}">
                    {% page_menu "pages/menus/dropdown.html" %}
                </div>
                <div class="clearfix social-links">
                    <a href="https://www.facebook.com/csesoc" target="_blank">
                        <div class="facebook social-link">
                            <div class="social-wrapper">
                                <img alt="Facebook Logo" src="{% static "img/fbook.png" %}" class="social-badge-fb">
                                <div class="clearfix">Facebook</div>
                            </div>
                        </div>
                    </a>
                    <a href="https://plus.google.com/101220554982256575482" target="_blank">
                        <div class="google social-link">
                            <div class="social-wrapper">
                                <img alt="Google+ Logo" src="{% static "img/gplus.png" %}" class="social-badge gp">
                                <div class="clearfix">Google</div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="nav-small hide-for-medium-up">
                <div id="hamburger" class="dropdown clearfix">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" width="40" height="32">

                        <rect x="4" y="4" width="32" height="1" rx="1" stroke="white" stroke-width="5" fill="transparent"/>
                        <rect x="4" y="16" width="32" height="1" rx="1" stroke="white" stroke-width="5" fill="transparent"/>
                        <rect x="4" y="28" width="32" height="1" rx="1" stroke="white" stroke-width="5" fill="transparent"/>

                    </svg>
                    {% page_menu "pages/menus/dropdown_ham.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
<div id="nav-padding">
</div>

{% block categories_large %}
{% endblock %}

<div id="content">
    {% if messages %}
    <div class="row">
        <div class="container medium-12">
            {% nevercache %}
                <div class="messages">
                {% for message in messages %}
                <div class="alert-box {{ message.tags }}" data-alert>
                    {% if 'safe' in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}
                    <a href="#" class="close">&times;</a>
                </div>
                {% endfor %}
                </div>
                <div id="alerts"></div>
            {% endnevercache %}
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="medium-9 columns">
            {% block categories_small %}
            {% endblock %}
            {% if page.html_id %}
            <div class="card">
            <h1>{% block title %}{% endblock %}</h1>
            {% endif %}
            {% block main %}{% endblock %}
            {% if page.html_id %}
            </div>
            {% endif %}
        </div>
        <div class="medium-3 columns card">
            <h4>Sponsors</h4>
            {% load sponsor_tags %}
            {% list_sponsors %}
        </div>
    </div>
</div>
<div class="push"></div>
</div>
    <!-- FOOTER -->
    <div class='footer-photo footer'>
        <div id='footer'>
            <span>
                &copy; Copyright {% now "Y" %} CSESoc
            </span>
        </div>
    </div>
    {% include "includes/footer_scripts.html" %}

    {% block footer_scripts %}{% endblock %}

</body>
</html>
