{% extends 'base.html' %}

{% block meta_title %}CSESoc Hoodie Preorder{% endblock %}

{% block main %}{% spaceless %}

    <h1> CSESoc Hoodie Preorder</h1>
    <a href="/static/img/hoodie_sizing_chart.png"><img style="height:250px;" src="/static/img/hoodie_sizing_chart.png"/></a>
    <div class='application_form camp_form'>
        <form action="/merch/hoodies/" method="post">
        {% csrf_token %}
            <table>
                {{ form.as_table }}
            </table>
            <div class='submit_button'>
                <input class="button class btn btn-large" type="submit" value="Order!" />
            </div>
        </form>
    </div>

    <p>For cash and bank transfer, please email csesoc@cse.unsw.edu.au. Please note: pre-order is not finalised until payment is received.</p>

{% endspaceless %}{% endblock %}

