* {
    box-sizing: border-box;
}

html {
    font-size: 12pt;
}

/* Header */

.photo {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
/*    transition: background-image 1s linear;
    -moz-transition: background-image 1s linear;
    -webkit-transition: background-image 1s linear;
    -o-transition: background-image 1s linear;*/
}

#subtitle {
    position: relative;
    top: 0;
    padding-top: 8.25rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
    font-size: 13.5pt;
    font-family: "Roboto Condensed";
    font-weight: 400;
    color: #222222;
    z-index: 12;
}

.feature {
    height: 16rem;
    max-width: 100%;
}

.scroller {
    width: 100%;
    height: 4rem;
    margin-bottom: 2.5rem;
    z-index: 5;
}

#page-heading {
    font-size: 18pt;
    font-family: "Roboto";
    font-weight: 100;
}

#title {
    position: fixed;
    overflow: visible;
    top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0.5rem;
    margin-top: 0.75rem;
    z-index: 10;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

.title-link {
    position: absolute;
    top: 0;
    width: 100%;
    height: 16rem;
    z-index: 50;

}

.welcome-user-item {
    position: absolute;
    top: 1rem;
    right: 0;
    float: right;
    z-index: 75;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    height: 3.5rem;
    width: auto;
    white-space: nowrap;
    margin-top: 0.5rem;
    background: rgba(255,255,255,0.65);
    font-family: "Roboto Condensed";
    font-weight: 400;
    color: #222222;
    border-bottom-left-radius: 0.2rem;
    border-top-left-radius: 0.2rem;
    float: right;
    padding-top: 1.25rem;
}

.welcome-user-item span {
    position: relative;
    padding-top: 1.05rem;
    padding-bottom: 1.1rem;
}

.welcome-user-item .user-label {
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    border-right: solid 1px rgba(255,255,255,0.5);
}

#navigation {
    height: 4rem;
    padding-left: 10rem;
    background-color: rgba(255,255,255,0.75);
}

.navbar-logo, .navbar-logo-small {
    margin-left: -11.5rem;
    padding: 0.5rem;
    width: 4rem;
    height: 4rem;
    float: left;
}

.nav-grid {
    height: 4rem;
    width: 100%;
    border-spacing:0px;
    word-wrap: break-word;
}

.nav-grid li {
    padding: 0;
}

.menu-item {
    margin-left: 0.75rem;
    margin-top: 1.5rem;
    margin-bottom: 0.84rem;
    font-family: "Roboto Condensed";
    font-weight: 400;
    line-height: 1rem;
    float: left;
}

.menu-item-container {
    height: 4rem;
}
.menu-item-container:hover {
    background-color: rgba(255,255,255,0.4);
}
.menu-link {
    text-decoration: none;
    color: #000;
    width: 9rem !important;
}
.menu-link:hover {
    color: #000;
}

.caret {
    height: 0.75rem;
    width: 0.75rem;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    border-bottom: solid 0.15rem black;
    border-right: solid 0.15rem black;
    display: block;
}

.caret-container {
    margin-top: 0.75rem;
    /*margin-right: -1.5rem;*/
    height: 1rem;
    width: 1rem;
    float: right;
    font-size: 0;
}

ul.dropdown {
    position: relative;
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.dropdown li, .ham-submenu li {
    font-family: "Roboto Condensed";
    font-weight: 300;
    float: left;
    min-width: 7.75rem;
}

ul.dropdown li {
    border-right: solid 1px white;
}

ul.dropdown li:first-child {
    border-left: solid 1px white;
}

ul.dropdown li a {
    display: block;
}

ul.dropdown li.hover,
ul.dropdown li:hover {
    position: relative;
}

.nav-dropdown {
    width: 100%;
    min-width: 11rem;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    margin-left: 0;
    box-shadow: 0 0 0.5em #CCC;
}

ul.dropdown ul li {
    float: none;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    background: white;
    text-decoration: none;
}

ul.dropdown ul li:hover {
    background: #EEE;
}

ul.dropdown ul li a {
    width: 100%;
    display: inline-block;
    color: #222222;
}

#nav-wrapper {
    float: left;
}

.social-links {
    float: right;
    padding-right: 0.75rem;
    padding-top: 0.15rem;
}


.social-link {
    font-size: 10.5pt;
    width: 6rem;
    color: white;
    margin-top: 0.25rem;
    border-radius: 0.2rem;
    font-family: "Roboto Condensed";
}

.social-wrapper {
    border-radius: 0.2rem;
}

.social-badge {
    height: 1.2rem;
    margin-top: -0.125rem;
    margin-bottom: -0.125rem;
    float: left;
}

.social-badge-fb {
    height: 1rem;
    margin-left: 0.05rem;
    float: left;
}

.social-link .social-wrapper {
    padding: 0.25rem;
}

.social-link .social-wrapper div {
    text-align: center;
}

.facebook {
    background-color: #3B5998;
}

.facebook:hover .social-wrapper {
    background-color: rgba(255,255,255,0.25);
}

.google {
    color: #dd4b39;
    background-color: white;
}

.google:hover .social-wrapper {
    background-color: rgba(211,75,57,0.25);
}

#nav-padding {
    height: 6.5rem;
}

/* Small Header */

#hamburger {
    float: right;
    cursor: pointer;
    margin-top: 0.4rem;
    margin-right: 0.5rem;
    padding-right: 0.7em;
    padding-left: 0.7em;
    padding-top: 0.15em;
    padding-bottom: 0.65em;
    border-radius: 0.2rem;
    /*background-color: rgba(255,255,255,0.6);*/
}

#hamburger:hover {
    background-color: rgba(255,255,255,0.6);
}

#hamburger:hover .slice {
    background-color: white;
}

.slice {
    background-color: rgba(255,255,255,0.75);
    width: 1.875rem;
    height: 0.3125rem;
    margin-top: 0.5em;
    border-radius: 0.2em;
}

#hamburger ul {
    max-width: 13rem;
    right: 0;
    left: auto;
    overflow: scroll;
}

#hamburger ul li {
    float: none;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    background: white;
    text-decoration: none;
}

#hamburger ul li:hover {
    background: #EEE;
}

#hamburger ul li a {
    width: 100%;
    display: inline-block;
    color: #222222;
}

.ham-submenu {
    display: none;
}

.ham-submenu li {
    background: inherit !important;
}

.ham-submenu li:hover {
    background: white !important;
}

.ham-small-only {
    display: none;
}

.ham-social-links-li {
    padding: 0 !important;
    font-weight: normal;
}

.ham-social-links {
    padding-right: 0.3rem !important;
    padding-top: 0.25rem !important;
    padding-left: 0.3rem;
    padding-bottom: 0.4rem;
    float: none !important;
    background-color: white;
}

.ham-social-links .google {
    border: 1px solid #EEE;
}

.ham-social-link {
    height: 1.5rem;
}

.ham-social-link .social-wrapper {
    height: 1.5rem;
}

.ham-social-link .social-wrapper div {
    margin-top: -0.215rem;
}

/* Header Media Queries */

@media (min-width: 876px) { /* Large */
    .nav-small {
        display: none;
    }

}

@media (max-width: 876px) { /* Small */
    .nav-large {
        display: none;
    }
}

@media (max-width: 640px) { /* Mobile */
    #title {
        margin-top: 0.15rem;
        font-size: 14pt;
    }
    #navigation {
        height: 2.5rem !important;
    }
    .navbar-logo-small {
        width: 2.5rem;
        height: 2.5rem;
        padding: 0.125rem;
        margin-left: -11rem;
    }
    .nav-grid {
        height: 2.5rem !important;
    }
    .scroller {
        height: 2.5rem !important;
    }
    #nav-padding {
        height: 3.5rem !important;
    }

    ul.dropdown li {
        height: 2.5rem;
    }
    .menu-item-container {
        height: 2.5rem;
    }
    .menu-item {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;
    }
    #hamburger {
        height: 2.5rem;
        font-size: 0.625rem;
        margin: 0 0 0 0 !important;
        padding-right: 0.5em;
        padding-left: 0.6em;
        padding-top: 0.3em;
        padding-bottom: 0.8em;
        border-radius: 0;
    }
}

@media (max-width: 480px) {
    .nav-small-list {
        display: none;
    }
    .ham-small-only {
        display: block;
    }
}


.welcome-user-item {

}



/* Content */

h3.post-subset {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 400;
    font-size: 1.33rem;
}

h3.post-subset em {
    font-weight: 300;
    font-style: italic;
}

#content {
    max-width: 64rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    float: inherit;
}

h2 {
    font-size: 18pt;
    font-family: "Roboto Condensed";
    font-weight: 300;
}
h2 a {
    color: #222222;
}

h4 {
    font-family: "Roboto Condensed";
    font-weight: 300;
    font-style: italic;
    font-size: 1.375rem;
}

h6 {
    font-family: "Roboto Condensed";
    font-weight: 400;
}

p, li {
    font-family: "Roboto";
    font-weight: 300;
}

strong, b {
    font-weight: 400;
}

.news-card ul li {
    font-family: "Roboto";
    font-weight: 300;
}

.news-card, .card {
    padding-top: 1.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1.5rem;
    border: 1px solid #EEE;
    background-color: #FAFAFA;
    margin-bottom: 1rem;
    overflow: hidden;
    border-radius: 0.25rem;
}

/* Category colour classes */

.News {
    border-top: 0.25em solid #FFA400;
}

.Social {
    border-top: 0.25em solid #4D90F0;
}

.Careers {
    border-top: 0.25em solid #00BD39;
}

.Tech {
    border-top: 0.25em solid #F04D4D;
}

.Beta {
    border-top: 0.25em solid #9702A7;
}



.categories {
    float: left;
    overflow: hidden;
}

#categories-small {
    display: none;
    width: 100%;
    margin-bottom: 1rem;
}

@media (max-width: 1156px) {
    #categories-large {
        display: none;
    }
    #categories-small {
        display: inherit;
    }

    .categories {
        float: right;
    }

    .categories h3 {
        text-align: left;
    }

    .category {
        width: auto !important;
        float: left;
        border-radius: 0.2rem !important;
        margin-right: 0.25rem;
    }
}

@media (max-width: 375px) {
    .categories {
        margin-bottom: 1.8rem;
    }
}

.categories h3 {
    font-size: 1rem;
    font-family: "Roboto Condensed";
    font-weight: 400;
    padding-left: 0.5rem;
    margin: 0;
}

.category {
    display: block;
    padding: 0.25rem;
    padding-right: 0.5rem;
    margin-top: 0.25rem;
    font-size: 0.9rem;
    font-family: "Roboto Condensed";
    color: white;
    width: 4rem;
    text-align: right;
    border-bottom-right-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
}

.News-link {
    background-color: rgba(255,164,0,0.75);
}

.Social-link {
    background-color: rgba(77,144,240,0.75);
}

.Careers-link {
    background-color: rgba(0,189,57,0.75);
}

.Tech-link {
    background-color: rgba(240,77,77,0.75);
}

.Beta-link {
    background-color: rgba(151,2,167,0.75);
}


.News-link:hover {
    background-color: #FFA400;
}

.Social-link:hover {
    background-color: #4D90F0;
}

.Careers-link:hover {
    background-color: #00BD39;
}

.Tech-link:hover {
    background-color: #F04D4D;
}

.Beta-link:hover {
    background-color: #9702A7;
}

h1 {
    font-family: "Roboto Condensed";
    font-size: 2rem;
}

table {
    width: 100%;
}

thead, th {
    text-align: left;
}

thead h3, th h3 {
    font-size: 18pt;
    margin: 0;
    font-family: "Roboto Condensed";
}

th {
    text-align: right;
    font-family: "Roboto Condensed";
}

td.image {
    width: 10rem;
}

tr {
    line-height: 2;
}





/* Footer */

#footer {
    height: 4rem;
    background-color: rgba(255,255,255,0.75);
}

#footer span {
    padding-top: 1.5rem;
    padding-left: 2rem;
    float: left;
    font-family: "Roboto Condensed";
}

.footer-photo {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: right 0 bottom -3rem;
    height: 4rem;
}

#sponsors {
    float: right;
    padding: 0.5rem;
}

#sponsors img {
    height: 3rem;
    padding-right: 1rem;
}

/* Teams page */
.team {
    position: relative;
    line-height: 25px;
    padding-bottom: 30px;
    width: 100%;
    min-height: 80px;
}

.team > .team-button {
    position: relative;
    display: inline-block;
    width: 149px;
    margin-top: 15px;
}
.team > .team-button > button {
    z-index: 0; /* scrolls underneath the top navbar (.scroller) */
}

.team > .team-description {
    margin-right: 15px;
    display: inline-block;
}

.team-btn {
    width: 140px;
}

.team-msg {
    text-align: center;
    height: 34px;
    float: right;
    width: 140px;
    padding: 4px 12px;
    margin-top: 5px;
}

@media (max-width: 767px) {
    .team  {
        position: inherit;
        margin-bottom: 10px;
    }

    .team > .team-description {
        position: inherit;
    }

    .team > .team-button {
        display: inline-block;
        margin-top: 10px;
        position: inherit;
    }

    .team-btn,
    .team-msg {
        float: none !important;
    }

    .news-card {
        padding: 1.5rem 1rem;
    }
}


/* sticky footer */
* {
margin: 0;
}
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}
.footer, .push {
height: 4em;
}

.category-text {
    color: white;
}

.alert-box a {
    color: white;
}

/*.sticky {  
    position: absolute;  
    width: 100%;  
    left: 0;  
    z-index: 100;  
    border-top: 0;  
} 

.sticky2 {  
    position: fixed;  
    width: 100%;  
    left: 0;  
    top: 350px;  
    z-index: 100;  
    border-top: 0;  
} */
