{% extends 'base.html' %}
{% block meta_title %}{{ title }}{% endblock %}
{% block main %}
{% if pay_success %}
<h1>&#10004; Payment successful!</h1>
<p>Thanks for your payment! &#36;{{ stripe_price }} has been charged to your card and the transaction will appear on your statement as either &quot;CSESOC&quot; or &quot;STRIPE INC&quot;.</p>
<p>You should receive a payment confirmation shortly. If you do not receive it, check your spam folder.</p>
{% else %}
<h1>&#10008; Payment failed</h1>
<p>{{ fail_message }}</p>
{% endif %}
{% endblock %}
